POSTGRES_URL = "postgresql+asyncpg://USERNAME:PASSWORD@ADDRESS:PORT/"
ALEMBIC_URL = "postgresql+psycopg2://USERNAME:PASSWORD@ADDRESS:PORT/"
DB_NAME = "DATABASE_NAME"
URL_LOGIN_PRD = "URL.AUTENTENTICACAO/PRODUCAO"
URL_LOGIN_SND = "URL.AUTENTENTICACAO/SANDBOX"
LOGGER_FORMAT = '%(asctime)s | %(levelname)s | %(name)s line:%(lineno)d >> %(message)s'
PATH_FERNET_KEY = '.fernet.key'
HOST = 0.0.0.0
PORT = 0