POSTGRES_URL = "postgresql+asyncpg://postgres:PASSWORD@localhost:PORT/"
ALEMBIC_URL = "postgresql+psycopg2://postgres:PASSWORD@localhost:PORT/"
DB_NAME = "db"
LOGGER_FORMAT = '%(asctime)s | %(levelname)s | %(name)s line:%(lineno)d >> %(message)s'
PATH_FERNET_KEY = '.fernet.key'
HOST = 0.0.0.0
PORT = 8180